PORT=
DB_URL=
NODE_ENV=

JWT_ACCESS_SECRET_KEY=
JWT_REFRESH_SECRET_KEY=
JWT_RESET_SECRET_KEY=

# Cloudinary Keys

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_SECRET_KEY=

# Google Env

GOOGLE_USER_EMAIL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=

# AI Models APIs links

CROP_DISEASE_MODEL_API=
REAL_TIME_DATA_API=
CLASSIFICATION_MODEL_API=
FORECASTING_MODEL_API=
HISTORY_DATA_API=
SIMULATION_MODEL_API=
CROP_RECOMMENDATION_API=
FEATURE_EXTRACTION_API=